@*
copyright (c) 2022 Roberto Ceccarelli - Casasoft
http://strawberryfield.altervista.org

This file is part of Casasoft Contemporary Carte de Visite Web
https://github.com/strawberryfield/CCDV_Web

Casasoft CCDV Web is free software:
you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Casasoft CCDV Web is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
See the GNU General Public License for more details.

You should have received a copy of the GNU AGPL v.3
along with Casasoft CCDV Web.
If not, see <http://www.gnu.org/licenses/>.
*@

<div class="row">
    <div class="col-6">
        <label class="form-label">Fill color
            <input type="color" id="FillColor" name="FillColor" value="@FillColor" class="form-control" />
        </label>
    </div>
    <div class="col">
        <label class="form-label">Border color
            <input type="color" id="BorderColor" name="BorderColor" value="@BorderColor" class="form-control" />
            </label>
    </div>
</div>
<div class="row">
    <div class="col">
        <label class="form-label">DPI
            <input type="number" id="DPI" name="DPI" value="@DPI" class="form-control" />
        </label>
    </div>
</div>
<div class="row">
    <div class="col">
        <label class="form-label">
            Script file
            <input type="file" id="UploadScript" name="UploadScript" class="form-control" />
        </label>
    </div>
</div>
<div class="row">
    <div class="col">
        <label class="form-label">
            Tag
            <input type="text" id="Tag" name="Tag" class="form-control" />
        </label>
    </div>
</div>

<div class="row vspace">
    <div class="col">
        <input type="submit" class="form-control" />
    </div>
</div>

@code {
    [Parameter]
    public string FillColor { get; set; } = "#ffffff";
    [Parameter]
    public string BorderColor { get; set; } = "#000000";
    [Parameter] 
    public int DPI { get; set; } = 300;
}
