@*
copyright (c) 2022 Roberto Ceccarelli - Casasoft
http://strawberryfield.altervista.org

This file is part of Casasoft Contemporary Carte de Visite Web
https://github.com/strawberryfield/CCDV_Web

Casasoft CCDV Web is free software:
you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Casasoft CCDV Web is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
See the GNU General Public License for more details.

You should have received a copy of the GNU AGPL v.3
along with Casasoft CCDV Web.
If not, see <http://www.gnu.org/licenses/>.
*@
<div class="col">
    <div class="container-fluid d-flex flex-column">
        <div class="row">
            <div class="col bg-lightgray">
                <button onclick="downloadImage();">
                    Scarica l'elaborazione'
                </button>
            </div>
        </div>
        <div class="row flex-grow-1">
            <div class="col">
                <img id="Preview" class="img-fluid d-block m-auto" src="data:image/jpeg;base64,@ImgBase64" />
            </div>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public string ImgBase64 { get; set; }
}
